* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

.coin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: #ffd700;
  animation: spin 3s infinite linear;
}

.coin-text {
  text-align: center;
  font-size: 1.2rem;
}

@keyframes spin {
  to {
    transform: rotateY(0deg);
  }

  from {
    transform: rotateY(360deg);
  }
}

.coin-text::before {
  content: '';
  width: 2rem;
  height: 0.5rem;
  background-color: #000;
}